html
  style(type="text/css")=css

  body
    div.title
      |||||||||| Takigyo |||||||||||
    div.lab
      each item in labs
        div(clas="takigyo" data-selector=item.selector)!=item.html
    div.result
    script(src="/static/client.js")
